[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "mtg_parser"
version = "0.0.1a29"
license = "MIT"
description = "Magic: the Gathering decklist parser"
readme = "README.md"
authors = ["Ludovic Heyberger <940408+lheyberger@users.noreply.github.com>"]
homepage = "https://github.com/lheyberger/mtg-parser"
repository = "https://github.com/lheyberger/mtg-parser"
documentation = "https://github.com/lheyberger/mtg-parser"


[tool.poetry.dependencies]
python = "^3.7.2"
pyparsing = "^3.1.1"
requests = "^2.31.0"
beautifulsoup4 = "^4.12.2"


[tool.poetry.dev-dependencies]
coverage = {extras = ["toml"], version = "^7.2.7"}
pytest = "^7.4.1"
check-wheel-contents = "^0.4.0"
pylint = "^2.17.5"
flake8 = "^5.0.4"
requests-mock = "^1.11.0"
tabulate = "^0.9.0"
more-itertools = "^9.1.0"


[tool.pylint."MESSAGES CONTROL"]
disable = [
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "duplicate-code",
    "too-many-arguments",
    "stop-iteration-return",
]


[tool.coverage.run]
source = [ "src" ]


[tool.coverage.paths]
source = [ "src" ]


[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]
