[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "mtg_parser"
version = "0.0.1-alpha.25"
license = "MIT"
description = "Magic: the Gathering decklist parser"
readme = "README.md"
authors = ["Ludovic Heyberger <940408+lheyberger@users.noreply.github.com>"]
homepage = "https://github.com/lheyberger/mtg-parser"
repository = "https://github.com/lheyberger/mtg-parser"
documentation = "https://github.com/lheyberger/mtg-parser"


[tool.poetry.dependencies]
python = "^3.7"
pyparsing = "^2.4.7"
requests = "^2.25.1"
beautifulsoup4 = "^4.9.3"


[tool.poetry.dev-dependencies]
coverage = {extras = ["toml"], version = "^5.5"}
pytest = "^6.2.2"
check-wheel-contents = "^0.2.0"
pylint = "^2.7.4"
flake8 = "^3.9.0"
requests-mock = "^1.8.0"
tabulate = "^0.8.9"


[tool.pylint."MESSAGES CONTROL"]
disable = [
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "duplicate-code",
    "too-many-arguments",
    "stop-iteration-return",
]


[tool.coverage.run]
source = [ "src" ]


[tool.coverage.paths]
source = [ "src" ]


[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]
