name: Integration TCGPlayer

on:
  schedule:
    - cron: '16 7 * * 1' # https://crontab.guru/#16_7_*_*_1
  workflow_dispatch:

jobs:
  integration_tcgplayer:
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python-version: [
          3.14.2
        ]
        poetry-version: [
          2.2.1
        ]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: ${{ matrix.poetry-version }}

    - name: Install dependencies
      run: make install

    - name: Run tests
      run: make integration-test WEBSITE=tcgplayer
