name: Integration TCGPlayer

on:
  schedule:
    - cron: '16 7 * * 1' # https://crontab.guru/#16_7_*_*_1
  workflow_dispatch:

jobs:
  integration_tcgplayer:
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python-version: [
          3.14.2,
        ]
        poetry-version: [
          2.2.1,
        ]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup project
        uses: ./.github/actions/setup-project
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ matrix.poetry-version }}

      - name: Run tests
        run: make integration-test WEBSITE=tcgplayer
