name: Nightly

on:
  schedule:
    - cron: '0 7 * * 1' # https://crontab.guru/#0_7_*_*_1
  workflow_dispatch:

jobs:
  nightly:
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python-version: [
          3.9.19,
          3.10.19,
          3.11.14,
          3.12.12,
          3.13.9,
          3.14.2,
        ]
        poetry-version: [
          2.0.1,
          2.1.4,
          2.2.1,
        ]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup project
        uses: ./.github/actions/setup-project
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: ${{ matrix.poetry-version }}

      - name: Run tests
        env:
          MOXFIELD_USER_AGENT: ${{ secrets.MOXFIELD_USER_AGENT }}
        run: make test-all
